$font = 'Open Sans', sans-serif
$color1 = #16181C
$color2 = #ffffff
$color3 = #F04250
$green  = #2ECC71
$red    = #E74C3C

$white = #ffffff
$gray1 = #f0f0f0
$gray2 = #e3e3e3
$gray3 = #999999
$gray4 = #666666
$gray5 = #333333
$gray6 = #0f0f0f
$black = #000000

$colorAlpha = rgba(9,9,11,0.8)
